nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    padding: 10px 20px; 
    position: relative;
    top: 1vh;
}

.navbar h1 {
    font-size: 2.5rem;
    margin-left: 20px; 
}

.navbar a {
    font-size: 2.5rem;
    margin-right: 20px; 
}

body {
    background-color: gray;
    margin: 0; 
    padding: 0; 
}

.back {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px; 
}
